dgl==2.2.1
docplex==2.30.251
gym==0.26.2
matplotlib==3.8.0
networkx==3.2.1
numpy==2.3.1
pandas==1.5.3
pytz==2023.3.post1
PyYAML==6.0
PyYAML==6.0.2
scikit_learn==1.7.1
scipy==1.16.0
setuptools==68.0.0
tensorboard==2.20.0
tensorflow==2.19.0
torch==1.12.1+cu113
torch_geometric==2.6.1
tqdm==4.64.1
wandb==0.21.0